body,html{
    height: 100%;
 }
 body {
    background: #006E5D;   
    font-family: Arial, Helvetica, sans-serif;
  }

.headpage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.headpage img{
    width: 125px;
    height: 133px;
    object-fit: cover;
}

.headpage  h1{
    font-weight: 200;
    font-size: 30px;
    color: #fff;
    align-self: center;
}
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
  }
  .user-card {
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: left;
     background-color: #fff;
     border-radius: 10px;
     padding: 40px;
     width: 800px;
     position: relative;
     overflow: hidden;
     box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
 }
  
 .user-card:before {
    content: '';
    position: absolute;
    height: 300%;
    width: 173px;
    background: #646464;
    top: -60px;
    left: -125px;
    z-index: 0;
    transform: rotate(17deg);
  }
  
  .user-card-img {
    display: flex;
    justify-content: center;
    align-items: center;   
    z-index: 3;
  }
  
  .user-card-img img {
    width: 300px;
    height: 350px;
    object-fit: cover;
  }
  
  .user-card-info {
    text-align: center;
  }
  
  .user-card-info h2 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .user-card-info p {
    font-size: 20px;
  }
  .user-card-info p span {
     font-weight: 700;
     margin-right: 10px;
 }
  @media only screen and (min-width: 768px) {
    .user-card {
      flex-direction: row;
      align-items: flex-start;
    }   
    .user-card-img {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .user-card-info {
      text-align: left;
    }
  }
 
  @media (max-width: 767px){
    .wrapper{
       padding-top: 3%;
    }
    .user-card:before {
       width: 300%;
       height: 200px;
       transform: rotate(0);
    }
    .user-card-info h2 {
       margin-top: 25px;
       font-size: 35px;
    }
    .user-card-info p span {
       display: block;
       margin-bottom: 15px;
       font-size: 18px;
    }
  }
  
  
 